h1,
h2,
h3,
h4,
h5 {
    color: _color(dark, 400);
    font-family: $font-family-berkshire;
    margin-top: 0;
}

h1,
.h1 {
    font-size: 45px;
}

h2,
.h2 {
    font-size: 34px;
}

h3,
.h3 {
    font-size: 28px;
}

h4,
.h4 {
    font-size: 24px;
}

h5,
.h5 {
    font-size: 21px;
}

p {
    color: _color(dark, 400);
    font-size: $default-font-size;
    margin-top: 0;
}