.nav {
    position: fixed;
    top: 0;
    right: 0;
    background: _color(white);
    width: 300px;
    height: 100%;
    z-index: 11;
    transform: translateX(300px);
    transition: all 0.3s ease;
    .menu {
        list-style: none;
        padding-top: 120px;
        &__item {
            margin-bottom: 20px;
        }
        &__link {
            font-size: 24px;
            font-weight: 900;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.3s ease;
            &:hover,
            &:focus {
                color: _color(dark, 700);
            }
        }
    }
}
.menu-showed {
    .nav {
        transform: translateX(0);
    }
}