title = "Blog detail"
url = "/clanok/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog"
==
<section class="blog-detail">
    <div class="container">
        {% set post = blogPost.post %}
        <h1>{{post.title}}</h1>
        <div class="blog-detail__content">{{ post.content|raw }}</div>
        
        {% if post.featured_images.count %}
            <div class="gallery">
                {% for image in post.featured_images %}
                <a href="{{ image.thumb(400, auto) }}" class="gallery__item" data-fancybox="gallery">
                    <img
                        data-src="{{ image.filename }}"
                        src="{{ image.path }}"
                        alt="{{ image.description }}">
                </a>
                {% endfor %}
            </div>
        {% endif %}

    </div>
</section>