==
<?php
function onStart()
    {
        $this['currentYear'] = date("Y");
    }
?>
==
<footer class="footer">
    <div class="container">
        <div class="row mb-m-x-large">
            <div class="col--m-6 col--l-3">
                <h2 class="h5">{{ 'Apartmány Zuzana'|_ }}</h2>
                <address>
                    {{contact().address}}<br/>
                    {{contact().city}} {{contact().psc}}<br/>
                    {{contact().country}}
                </address>
            </div>
            <div class="col--m-6 col--l-3">
                <h2 class="h5">{{ 'Chata pod Pálenicou'|_ }}</h2>
                <address>
                    {{contact().addressD}}<br/>
                    {{contact().city}} {{contact().psc}}<br/>
                    {{contact().country}}
                </address>
            </div>
            <div class="col--m-6 col--l-3">
                <h2 class="h5">{{ 'Rezervácie'|_ }}</h2>
                <ul class="footer-contact">
                    {% if contact().telP %}
                    <li class="footer-contact__item">
                        <i class="icon icon-phone-call"></i>
                        <a href="tel:{{contact().telP|replace({' ': ''}) }}">{{contact().telP}}</a>
                    </li>
                    {% endif %}
                    {% if contact().telD %}
                    <li class="footer-contact__item">
                        <i class="icon icon-phone-call"></i>
                        <a href="tel:{{contact().telD|replace({' ': ''}) }}">{{contact().telD}}</a>
                    </li>
                    {% endif %}
                    {% if contact().telT %}
                    <li class="footer-contact__item">
                        <i class="icon icon-phone-call"></i>
                        <a href="tel:{{contact().telT|replace({' ': ''}) }}">{{contact().telT}}</a>
                    </li>
                    {% endif %}
                    {% if contact().telT %}
                    <li class="footer-contact__item">
                        <i class="icon icon-envelope"></i>
                        <a href="mailto:{{contact().email}}">{{contact().email}}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col--m-6 col--l-3">
                <h2 class="h5">{{ 'Informácie'|_ }}</h2>
                <ul class="list list--vertical">
                    <li class="list__item">
                        <a href="{{'ubytovaci-poriadok'|page}}" class="list__link">{{ 'Ubytovací prodiadok'|_ }}</a>
                    </li>
                    <li class="list__item">
                        <a href="{{'kontakt'|page}}" class="list__link">{{ 'Kontakt'|_ }}</a>
                    </li>
                    <li class="list__item">
                        <a href="{{'ochrana-udajov'|page}}" class="list__link">{{ 'Ochrana osobných údajov'|_ }}</a>
                    </li>
                    <li class="list__item">
                        <a href="{{'cookies'|page}}" class="list__link">{{ 'Cookies'|_ }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center">
            <p>&copy; {{currentYear}} {{ 'Apartmány Zuzana'|_ }}. {{ 'Vytvoril'|_ }} <a href="mailto:milanblasko28@gmail.com">Milan</a>.</p>
        </div>
    </div>
</footer>