[sliderstop]
sortOrder = "title asc"

[localePicker]
forceUrl = 0

[contenteditor]
file = "apartments.SK.htm"
==
<header class="header">
    <div class="header__top">
        <ul class="language">
            {% for code, name in locales %}
            <li class="language__item">
                <a href="{{url('/')}}/{{code}}" class="language__link   {{ code == activeLocale ? 'active' }}">{{code}}</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{{'home'|page}}" class="logo">
            <img src="{{ 'assets/images/logo.png'|theme }}" alt="Logo Apartmány Zuzana">
        </a>
        <div id="toggle-menu">
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    {% if this.page.id == 'home' %}
    {% component 'sliderstop' %}
    <div class="slider-text">
        {% component 'contenteditor' file="header-nadpis.htm" fixture="h1" class="h1" %}
        {% component 'contenteditor' file="header-body.htm" fixture="p" %}
    </div>
    {% endif %}
</header>