<nav class="nav">
    <ul class="menu">
        <li class="menu__item">
            <a href="{{'home'|page}}" class="menu__link">Domov</a>
        </li>
        <li class="menu__item">
            <a href="{{'apartmany'|page}}" class="menu__link">Apartmány</a>
        </li>
        <li class="menu__item">
            <a href="{{'chata-pod-palenicou'|page}}" class="menu__link">Chata</a>
        </li>
        <li class="menu__item">
            <a href="{{'krajina'|page}}" class="menu__link">Liptov</a>
        </li>
        <li class="menu__item">
            <a href="{{'blog'|page}}" class="menu__link">Tipy na vylét</a>
        </li>
        <li class="menu__item">
            <a href="{{'kontakt'|page}}" class="menu__link">Kontakt</a>
        </li>
    </ul>
</nav>