==
<nav class="nav">
    <ul class="menu">
        <li class="menu__item">
            <a href="{{'home'|page}}" class="menu__link">{{ 'Domov'|_ }}</a>
        </li>
        <li class="menu__item">
            <a href="{{'apartmany'|page}}" class="menu__link">{{ 'Apartmány'|_ }}</a>
        </li>
        <li class="menu__item">
            <a href="{{'chata-pod-palenicou'|page}}" class="menu__link">{{ 'Chata'|_ }}</a>
        </li>
        <li class="menu__item">
            <a href="{{'krajina'|page}}" class="menu__link">{{ 'Liptov'|_ }}</a>
        </li>
        <li class="menu__item">
            <a href="{{'blog'|page}}" class="menu__link">{{ 'Tipy na výlet'|_ }}</a>
        </li>
        <li class="menu__item">
            <a href="{{'kontakt'|page}}" class="menu__link">{{ 'Kontakt'|_ }}</a>
        </li>
    </ul>
</nav>